$darkestblue: hsl(217, 19%, 35%);
$darkblue: hsl(214, 17%, 51%);
$blue: hsl(212, 23%, 69%);
$lightblue: hsl(210, 46%, 95%);

@mixin desktop {
	@media (min-width: 1440px) {
		@content;
	}
}

* {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}
img {
	display: block;
}
*, *:before, *:after {
	box-sizing: inherit;
}

main {
	background-color: $lightblue;
	padding: 4rem 1.5rem;
	display: flex;
	justify-content: center;
}
.card {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	@include desktop {
		width: 800px;
		height: 300px;
		display: flex;
		overflow: visible;
	}
	&__banner {
		width: 100%;
		height: 180px;
		object-fit: cover;
		@include desktop {
			width: 300px;
			height: 100%;
		}
	}
	&__content {
	
		background-color: white;
	}
	&__textbox {
		padding: 2rem;
	}
	&__title {

	}
	&__description {

	}
	&__footer {
		background-color: white;
		display: flex;
		padding: 1rem 2rem;
		position: relative;
		justify-content: space-between;
		&--active {
			background-color: $darkestblue;
			@include desktop {
				background-color: white;
			}
		}
	}
	&__userbox {
		display: flex;
		width: 80%;
		&--active {
			display: none;
			@include desktop {
				display: flex !important;
			}
		}
	}
	&__avatar {
		border-radius: 100%;
		width: 40px;
	}
	&__user {

	}
	&__username {

	}
	&__userdate {

	}
	&__sharebox {
		display: none;
		width: 80%;
		&--active {
			display: flex;
			align-items: center;
			@include desktop {
				position: absolute;
				background-color: $darkestblue;
				width: 250px;
				height: 80px;
				padding: 0 1rem;
				justify-content: space-around;
				border-radius: 10px;
				right: -66px;
				bottom: 64px;
			}
		}
	}
	&__sharetext {
		color: $blue;
	}
	&__icon {
		margin-left: 1rem;
	}
	&__button {
		border: none;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $lightblue;
		&--active {
			background-color: $darkblue;
		}
	}
	&__shareicon {

	}
}